<div class="container">
  <h1><%= @user.name %></h1>

  <div>
    <%= image_tag( @user.image ) %>
  </div>

  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
    <li>Phone number: </li>
    <li>Location: </li>

    <li>About me: <%= @user.bio %></li>
    <li>Likes: <%= @user.likes %></li>
    <li>Dislikes: <%= @user.dislikes %></li>
    <li>Allegies: <%= @user.allergies %></li>
  </ul>
</div>


<div class="controls">
  <% if @current_user && @current_user.id == @user.id  %>
    <%= link_to("Edit Profile", "/users/#{@user.id}/edit") %>

    <%= link_to("Delete Profile", "/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
  <% end %>
</div>
