<div class="flex-height">

    <div class="profile box-white-darken">
        <div class="container row">

            <h1><%= @user.name %></h1>

            <div class="col s12 m9">
                <ul class="collection">
                    <li></li>
                    <li class="collection-item">
                        <strong>Mobile:
                        </strong><%= @user.mobile %></li>
                    <li class="collection-item">
                        <strong>Email:
                        </strong><%= @user.email %></li>

                    <% if @user.building_number && @user.street && @user.city && @user.state && @user.country %>
                    <li class="collection-item">
                        <strong>Address:
                        </strong><%= @user.building_number + " " + @user.street + ", " + @user.city + ", " + @user.state + ", " + @user.country %></li>
                    <% end %>

                    <li class="collection-item">
                        <strong>About me:
                        </strong><%= @user.bio %></li>
                    <li class="collection-item">
                        <strong>Likes:
                        </strong><%= @user.likes %></li>
                    <li class="collection-item">
                        <strong>Dislikes:
                        </strong><%= @user.dislikes %></li>
                    <li class="collection-item">
                        <strong>Allegies:
                        </strong><%= @user.allergies %></li>
                </ul>
            </div>

            <div class="col s12 m3 collection">
                <%if @user.image %>
                <div>
                    <%= image_tag( @user.image ) %>
                </div>
                <%end %>
            </div>

            <div class="controls">
                <% if @current_user && @current_user.id == @user.id  %>
                <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Edit", "/users/#{@user.id}/edit") %></button>

                <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Delete", "/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" }) %></button>
                <% end %>
            </div>
            <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>

        </div>
    </div>
</div>

<div class="container">
    <h2>Food items currently available</h2>

    <div>
        <% @user.items.each do |item| %>
        <% if item.collected == "Item available now" %>
        <p>
            <%= link_to(item.name, item_path(item)) %>
        </p>
        <p>
            <%= item.description %>
        </p>
        <p>
            <%= item.collected %>
        </p>
        <div>
            <%= image_tag( item.image ) %>
        </div>
        <% end %>
        <% end %>
    </div>

    <!-- Add a new item  -->
    <% if @current_user && @current_user.id == @user.id  %>
    <button>
        <a href="/items/new">Add new produce</a>
    </button>
    <% end %>

</div>

<div class="container">
    <h2>Past food items you have shared</h2>
    <% @user.items.each do |item| %>
    <% if item.collected == "Collected" %>
    <p>
        <%= link_to(item.name, item_path(item)) %>
    </p>
    <p>
        <%= item.description %>
    </p>
    <p>
        <%= item.collected %>
    </p>
    <div>
        <%= image_tag( item.image ) %>
    </div>
    <% end %>
    <% end %>
</div>