<div class="flex-height">

  <div class="profile box-white-darken">
    <div class="container row">

      <h1><%= @user.name %></h1>

      <div class="col s12 m9">
        <ul class="collection">
          <li></li>
          <li class="collection-item"><strong>Mobile: </strong><%= @user.mobile %></li>
          <li class="collection-item"><strong>Email: </strong><%= @user.email %></li>

          <% if @user.building_number && @user.street && @user.city && @user.state && @user.country %>
          <li class="collection-item"><strong>Address: </strong><%= @user.building_number + " " + @user.street + ", " + @user.city + ", " + @user.state + ", " + @user.country %></li>
                <% end %>

          <li class="collection-item"><strong>About me: </strong><%= @user.bio %></li>
          <li class="collection-item"><strong>Likes: </strong><%= @user.likes %></li>
          <li class="collection-item"><strong>Dislikes: </strong><%= @user.dislikes %></li>
          <li class="collection-item"><strong>Allegies: </strong><%= @user.allergies %></li>
        </ul>
      </div>


      <div class="col s12 m3 collection">
        <%if @user.image %>
          <div>
            <%= image_tag( @user.image ) %>
          </div>
        <%end %>
      </div>


      <div class="controls">
        <% if @current_user && @current_user.id == @user.id  %>
          <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Edit", "/users/#{@user.id}/edit") %></button>

          <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Delete", "/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" }) %></button>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <p>THIS IS WHERE ALL THE USER ITEMS WILL APPEAR</p>

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>

  <div>
    <% @user.items.each do |item| %>
      <p>
        <%= link_to(item.name, item_path(item)) %>
      </p>
      <p>
        <%= item.description %>
      </p>
      <div>
        <%= image_tag( item.image ) %>
      </div>
    <% end %>
  </div>

  <!-- Add a new item  -->
  <% if @current_user && @current_user.id == @user.id  %>
    <button><a href="/items/new">Add new produce</a></button>
  <% end %>


</div>
