<div class="container">
  <h1><%= @user.name %></h1>

  <div>
    <%= image_tag( @user.image ) %>
  </div>

  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Contact Me: <%= @user.email %></li>
  </ul>
</div>

<div>
      <%= link_to("Edit Profile", "/users/#{@user.id}/edit") %>

      <%= link_to("Delete Profile", "/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
</div>
