<div class="container">

  <%=   form_for @item do |f| %>
    <%= f.text_field :name, required: true, placeholder: 'Name' %>

    <%= f.text_field :description, placeholder: 'Description' %>

    <%= f.url_field :image, placeholder: 'Image'  %>

    <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action"><%= f.submit %></button>

  <% end %>

</div>
