<h1>List of Food Items Available</h1>

<!-- This is the list of food items  -->

  <% @all_items.each do |item| %>
    <div>
      <p><%= item.name %></p>

      <p><%= item.description %></p>

      <p>Sharer: <%= item.user.name %></p>

      <p>Item available from: <%= item.created_at.strftime("%B %d, %Y %I:%M %P") %></p>

      <%= link_to(image_tag(item.image), "/items/#{item.id}") %>
    </div>
  <% end %>
